@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadein;
  animation-duration: 4s;
}

.fadeOut {
  transition: opacity 4s, visibility 4s;
  opacity: 0;
  visibility: hidden;
}

